*{
  margin: 0;
  padding: 0;
}

.cabecalho{
  background-color: #1257A8;
  display: flex;
  justify-content: space-around;
align-items: center;
padding:24px 0;

.cabecalho-imagem{
width: 10%;
}
}

.cabecalho-lista{
  display: inline-block;
  margin: 0 16px;
}

.escola{ background-image: linear-gradient(#1257A8,#383D58 );
  color: white;
  display: flex;

}
  
