*{
  margin: 0;
  padding: 0;
}

body{font-family: 'Playfair Display', serif;
}

.cabecalho{
  background-color: #1257A8;
  display: flex;
  justify-content: space-around;
align-items: center;
padding:24px 0;
}

.cabecalho-imagem{
width: 10%;
}


.cabecalho-lista{
  display: inline-block;
  margin: 0 16px;
  font-size: 24px;
}

.escola-imagem{
  width: 25%;
}


.escola{
  background-image: linear-gradient(to right, #383D58, #4EBFE9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0 ;
}

.escola-div-conteudo {
  width: 35%;
}

.escola-tituo{
  padding: 24px  0;
}

.estudante-imagem{
  width: 120px;
}

.abas-textos{
  background-color: var(--texto-fundo);
}

.abas-textos{
  background-color: var(--texto-fundo);
  padding: 40px;
  border-radius: 0 0 40px 40px;
}

.botao.ativo{
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(--verde);
}

.aba-conteudo.ativo{
  display: block;
}
.
aba-conteudo{
  display: none;
}

.aba-conteudo-titulo-principal{
  font-size: 28px;
  text-align: center;
}

.aba-conteudo-titulo-secundario{
  text-align: center;
  color: var(--verde);
  text-transform: uppercase;
}
.abas-textos{
  background-color: var(--texto-fundo);
}
.abas-textos{
  background-color: var(--texto-fundo);
  padding: 40px;
  border-radius: 0 0 40px 40px;
}
.botao.ativo{
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(--verde);
}
.aba-conteudo.ativo{
  display:block;   
}
.aba-conteudo{
  display: none;
}
.aba-conteudo-titulo-principal{
  font-size: 28px;
  text-align: center;
}
.aba-conteudo-titulo-secundario{
  text-align: center;
  color: var(--verde);
  text-transform: uppercase;
}
.aba-conteudo{
  width: 100px;
  height: 100px;
  background: #b5b;
  margin: 10px;
}

.ativo{
  display: block;
}
.fundo-preto{
  background: black;
  color: white;
}
.botao{
  padding: 2em; 
}
.contador{
  font-size: 20px;
  text-align: center;
}
.contador{
  font-size: 20px;
  text-align: center;
}


